.header-bar {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.header-top-object {
  // margin-left: 2%;
  display: flex;
  align-items: center;
  width: 100px;
  font-weight: 600;
  > select {
    color: #132e71;
    border: none;
    font-weight: 600;
  }
  :hover {
    cursor: pointer;
  }
}

.main-lot-reservation {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 35%;
  min-width: 255px;
  max-width: 340px;
}

.main-bar-user {
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px;
}
.main-bar-user-nav {
  display: flex;
  justify-content: space-between;
  width: 340px;
  padding: 0;
  font-size: 0.9rem;
}
.main-bar-margin-left {
  margin-left: 0.42vw;
}
.main-bar-ticket {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}
.section-border-bottom {
  border-bottom: 1px solid black;
}
.main-bar-logo {
  // padding: 0.5rem;
}
.main-lot-icon {
  width: 120px;
}
.main-lot-reservation {
  img {
    width: 43px;
  }
}
.main-lot-reservation-text {
  margin-left: 10px;
  font-weight: 500;
  p:nth-child(2) {
    min-width: 360px;
    display: flex;
    justify-content: space-between;
  }
}
// .main-lot-reservation-text p:nth-child(2) {
// min-width: 360px;
//   display: flex;
//   justify-content: space-between;
// }
.header-reservation-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
}
.header-reservation-img {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-reservation-info {
  height: 100%;
  width: 185px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5px;
}
.header-reservation-text {
  display: flex;
  justify-content: space-between;
  :last-child:hover {
    cursor: pointer;
    color:blue
    
  }
  :first-child {
    font-weight: 900;
  }
  :last-child {
    font-weight: 700;
    text-decoration: underline;
    :hover {
      cursor: pointer;
      
    }
   
  }
}
// .header-reservation-text :last-child:hover {
//   cursor: pointer;
//   color:red
  
// }
.header-reservation-title {
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}
.img-div {
  width: 9rem;
}
@media screen and (max-width: 800px) {
  .header-reservation-container {
    width: 200px;
  }
  .header-reservation-info {
    width: 146px;
  }
  .header-bar {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .main-bar-user-nav {
    width: 95%;
    justify-content: space-between;
    margin: auto;
  }
  .main-bar-ticket {
    padding: 0;
  }
  .main-lot-reservation {
    min-width: 200px;
  }
  .header-reservation-title,
  .header-reservation-text {
    font-size: 0.8rem;
  }
  .img-div {
    width: 5rem;
  }
}
