.occasions-main {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.occasion-element {
    width: 23%;
    background-color: red;
    height: 260px;
    position: relative;
    bottom: 30px;
    
}

.carousel-caption
{
    bottom: 48px
}
.carousel-indicators
{
    bottom: 30px
}