.occasions-main {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.occasion-element {
    width: 20%;
    background-color: red;
    height: 260px;
    position: relative;
    bottom: 30px;
    
}

.carousel-caption
{
    bottom: 48px
}
.carousel-indicators
{
    bottom: 30px
}
.occasion-container{
    width: 23%;
    min-width: 200px    ;
    position: relative;
    bottom: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.occasion-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.occasion-text{
    text-align: center;
}
.occasion-img{
    padding:5px;
}
.symbol-line{
    width: 20%;
    display: flex;
    align-items: center;
}
.symbol-item{
    width: 60%;
    text-align: center;
    padding: 5px;
}
hr{
    width: 100%;
    border-top: 3px solid black;
}
.occasion-item{
    padding: 5px 10px ;
    color: rgba(19, 46, 113, 1);
    text-align: center;
    font-size-adjust: 1.58;
}
.occasion-button{
    width: 100%;
    text-align: center;
    border: 1px solid rgba(19, 46, 113, 1);;
}
h4{
    display: flex;
    justify-content: space-between;
}
h4:before, h4:after {
    content:'\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    margin: auto 0.5em;
  }