.news-carousel-conrainer{
  padding:  10px 0 10px 0;
}
.news-carousel {
  width: 100%;
  display: flex;
}
.news-block-title{
  width: auto;
}
.news-block-title > h4{
  justify-content: center;
}
.news-nav {
  width: 10%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.news-nav-button {
  background-color: transparent;
  border: none;
}
.slick-slider {
  width: 80%;
}
.news-objects {
  width: 99%;
  min-width: 200px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 230px;
  padding-right: 1px;
}
.news-objects1 {
  width: 99%;
  min-width: 200px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 230px;
  padding-right: 1px;
}
.news-objects:last-child{
  margin-bottom: 5%;
}
.news-title {
  width: 90%;
  font-size: 1vw;
  font-weight: 500;
  @extend %text-deco;
}
.news-title > p {
  margin: 0;
}
.news-text {


}
.news-description {
  font-size: 0.9vw;
  font-weight: 500;
  width: 90%;
  @extend %text-deco;
  color: rgb(157, 157, 165);
}

.objects-margins {
  margin-top: 1vw;
}
%text-deco {
  text-align: center;
}
.news-button-div
{
  padding: 10px;
  text-align: center;
}
.news-button-div > button
{
  padding: 10px;
  border: none;
  border-radius: 0.4vw;
  color: white;
  background-color:#132e71;
}
.carousel-caption > h3{
  font-size: 3vw;
}
.carousel-caption p {
  font-size: 1vw;
}

@media screen and (max-width: 800px) {

.carousel-caption > h3{
  font-size: 4vw;
}
.carousel-caption p {
  font-size: 2vw;
}
}