.occasions-main {
  position: relative;
  top: -40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

.occassion-carousel-button {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: white 4px solid;
  background: transparent;
  font-weight: 600;
  padding: 0 30px 0 30px;
  border-radius: 0.5vw;
  color: white;
}

.occasions-main .slick-slider {
  width: 80%;
  margin: auto;
}
.occassion-carousel-comp {
  width: 98%;
  margin: auto;
  min-width: 120px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  min-height: 265px;
}
.carousel-indicators {
  display:flex;
  align-items: center;
  position: absolute;
  bottom: 10%;
  transform: translateY(-50%);
  padding: 0;
  margin-bottom: 0;
}
.carousel-caption {
  position: absolute;
  bottom: 52%;
  transform: translateY(+50%);

  padding: 0;
}
.carousel-item {
  min-height: 250px;
  max-height: 400px;
  position: relative;
}
.w-100 {
  min-height: 250px;
}

.carousel-caption {
  > h3 {
    font-size: 3rem;
    margin: 0;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 1rem;
  }
}
.carousel-inner {
  max-height: 400px;
}
.carousel-indicators li{
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 1;
  border-radius: 50%;
}
.carousel-indicators .active{
  background-color: transparent;
  border: 2px solid white;
  width: 6px;
  height: 6px;

}
@media screen and (max-width: 1024px) {
  .occasions-main {
    position: relative;
    top: 0px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
  }
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-caption {
    > h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 800px) {
  .occasions-main {
    position: relative;
    top: 0px;
    width: 90% !important;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
  }
  .occassion-card {
    width: 98%;
    margin: auto;
    min-height: 265px;
  }
  .occasions-main {
    .slick-next:before,
    .slick-prev:before {
      color: rgba(19, 46, 113, 1);
    }
  }
  .carousel-caption {
    > h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .occassion-carousel-button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .carousel-caption p {
    font-size: 0.9rem;
}
}
.occasion-text {
  text-align: center;
  font-size: 2rem;
}
