.occasion-image {
  max-width: 1335px;
  margin: 0 auto;
  width: 90%;
}
.price-container {
  width: 90%;
  align-items: baseline;
  display: flex;
  justify-content: space-around;
}
.oldPrice {
  text-decoration: line-through;
  color: #646464;
  font-weight: 600;
}
.move-up {
  display: flex;
}
.occasions-main {
  position: relative;
  top: -40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
