.proud-of-poland-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  .card-nav-text{
    background-color:#132e71 ;
    color:white;
  }
}

.proud-of-poland {
  width: 23%;
  min-width: 120px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.proud-of-poland-container {
display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
 
  .proud-of-poland-container {
    width: 90%;
  }
}
