%priceColor{
    color:#646464
}
.currentPrice{
@extend %priceColor;
font-size: 1.5vw;

font-weight: 600;
}
.prevPrice{
    @extend %priceColor;
    text-decoration:line-through ;
}
.price-line{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.link-button {
    width: 100%;
    background-color: rgba(19, 46, 113, 1);
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.3vw;
  }