// @import './style/specialsStyle';
.root {
    min-width: 300px;
    font-size: 16px;
  }
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 300px;
  }
  .global-container{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    color: rgba(19, 46, 113, 1);
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }